.data {
	text-align:center;
	line-height: 1.3em;
	&__title {
		font-family: $bebas;
		color: $red;
		font-size: 1.4em;
		// font-weight: bold;
	}
	&__subtitle {
		font-weight: bold;
	}

	&__description {
		color: $gray;
	}

	&__icon {
		margin-top:0.5em;
		img {
			width: 20px;
		}
	}

}

.section__content {
	&--about {
		position: relative;
		width: 100%;
		margin-top: 1em;
		padding: 2em;

		.description {
			color:$gray;
			width: 80%;
			margin-right:1em;
		}
		.action {
			margin-top:auto;
		}

		.button_left {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			padding: 1em;
			border-radius: 0.6em;
			color: $red;
			font-weight: bold;
			transform: rotate(-90deg);
			position: absolute;
			right:-54px;
			top: 20%;
			margin:0;
		}
	}
}


.about__item {
	margin-right: 2em;
	text-align:center;
	&__header {
		display:flex;
		justify-content:center;
		align-items:center;
		height: 100px;
	}

	&__img {
		max-width: 25%;
		margin: 0 auto;
		margin-bottom:1em;
		@media screen and (max-width: 39.9375em) {
			width: 120px;
		}
	}

	&__title {
		font-size: 1.4em;
		font-weight: bold;
	}

	.button {
		background-color: $primary;
		font-size: 1.3em;
		color:#000;
	}
}
.orbit-previous, .orbit-next {
	width: 60px ;
	top:30%;
}

.about__mobile { 
	display: none;
}

@media screen and (max-width: 39.9375em) {
	// 
	.about__mobile {
		display:block;
		//height: auto;
		.data {
			font-size: 1.5em;
		}
	}

	.about__desktop {
		display:none;
	}

	.action {
		margin: 0 auto;
	}
}
