ul.accordion {
  display: flex;
  //min-height: 100vh;
  max-height: 70vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  //display:none;
  @media screen and (max-width: 39.9375em) {
    flex-direction: column;
    max-height: none;
    //background-color: red;
  }

li {
  //flex:1;
  display: flex;
  max-width: 90px;
  align-items: stretch;
  //align-items: center;
  //justify-content:center;
  background: #0E0E2E;
  cursor: pointer;
  transition: all .5s ease;

    
    @media screen and (min-width: 39.9375em) {
        &:first-child { 
            background: #5D5C76;
        }

        &:nth-child(2) {
            background: #1C1B3B;
        }

        &:nth-child(3) {
            background: #0E0E2E;
        }
    }

    @media screen and (max-width: 39.9375em) {
        height: 50px;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        background-color: teal;
        max-width: 100%;
        background: #1C1B3B;
        border-bottom: 1px solid #fff;
    }
  
  
  &.active {
    max-width: 180px;
    //background: ;
    cursor: default;
    max-width: 100%;
    height: auto;
    justify-content:center;
    align-items:center;
    
    .section-title {
        height: 100%;
        //background-color:red;
        @media screen and (max-width: 39.9375em) {
            padding: 0.3em;
        }
    }
    .section-content {
        flex: 7;
        width: 100%;
        opacity: 1;
        //color: #E74C3C;
        //background-color: teal;
        @media screen and (max-width: 39.9375em) {
            //height: auto;
            //background-color: teal;
        }
    }
  }
  
  .section-title {
    flex: 0.7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;    
    min-width: 90px;
    z-index: 10;

    @media screen and (max-width: 39.9375em) {
        padding: 10em;
    }

    @media screen and (max-width: 39.9375em) {
        flex-direction: column;
    }
    
    h2 {
      //background-color: #fff;
      color: #fff;
      transform: rotate(-90deg);
      white-space: nowrap;
      font-family: $bebas;
      margin-top:0.5em;

      @media screen and (max-width: 39.9375em) {
        transform: rotate(0deg);
      }
    }
  }
  
    .section-content {
        flex: 0.3;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-left: 1em;
        padding-right: 1em;
        opacity: 0;
        height:100%;
        transition: all .25s .1s ease-out;
        background-color: #fff;
        padding-top: 0.5em;

        @media screen and (max-width: 39.9375em) {
            flex-direction: column;
            padding-left: 1em;
            padding-right: 1em;
            //padding-top: 0em;
            //background-color:pink;
            //flex: 1;
            //display:block;
            //height: auto;
            //height: 50%;
        }
    }
}

}

.container-content {
   input {
    display: inline-block;
    margin: 8px;
    border: solid 1px #12133c;
    &::placeholder {
      color: #515151;
    }
  }
  .submit {
    padding: 15px;
    font-family: $bebas;
    background: #752509;
    color: white;
    border: none;
    float: right;
    transition: 0.5s ease;
    &:hover {
      opacity: 0.7;
    }
  }
 
}

.orbit-wrapper {
    width: 100%;
    overflow:hidden;
}  

.orbit-custom {
    overflow:hidden;
}

