.section__content--contact {
	padding: 2em 113px;
	@media screen and (max-width: 39.9375em) {
		padding: 1em;
	}
}

.contact-container  {
	width: 100%;
	padding: 0 5em ;
	margin-top:1em;
	@media screen and (max-width: 39.9375em) {
		padding: 1em;
	}
	input, textarea {
		background-color: transparent;
		border: 1px solid #212121;
		color: #212112;
		&:focus {
			background-color:transparent;
		}
		  &::-webkit-input-placeholder{
		    color: #212112;
		  }
	}
	button {
		background-color:$red;
		padding: 0.5em 2em;
		font-size: 2em;
		color: #fff;
	}

}

.square {
	width: 70px;
	height: 70px;
	background-color: $red;
	margin-right:1em;
	margin-bottom: 1em;
}

.contact-footer {
   background-image:url('../img/footer_background_18.jpg');
	background-repeat: no-repeat;
	background-size: cover;
   padding: 2em 113px;
   @media screen and (max-width: 39.9375em) {
		padding: 1em;
	}
   img {
   		width: 200px;
   }
   h5 {
   		color:#fff;
   		font-weight: bold;
   		margin-top:0.5em;
   		margin-bottom:0;
   }

   span {
   		color:#fff;
   }

   .partners {
   		// margin-top:auto;
   		// margin-left:auto;
   		h5 {
   			margin-bottom:1em;
   		}
   		// .square {
   		// 	background-color: $primary;
   		// }
   }
}
