header {
  //display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.topbar-center-logo {
  .menu {
    padding: 0 4em;
    li {
        margin-left: 1em;
    }
    a {
      color: #fff;
      font-size: 1em;
      font-weight: bold;
        transition: .3s all;
      &:hover {
        color: $primary;
      }

    }
  }

  .icon__item {
    width: 30px;
  }
}

.top-bar-center h1 {
    color: #fff;
    font-weight: bold;
}



.topbar-center-logo .top-bar-center {
    flex: 1 0 auto;

    @media screen and (max-width: 39.9375em) {
        display:none;
    }
}

.topbar-center-logo-mobile {
  .menu-icon {
    vertical-align: text-top;
  }
}

.top-bar-center {
  img {
    width: 80px;
  }
}

.top-bar-right {
  .icon__item {
    display:flex;
    width: 80px;
    color: #fff;
    //background-color:red;
    align-items: center;
    div {
      margin-left:5px;
      width: 30px;
    }
  }
}


// Mobile
.topbar-center-logo-mobile {
    .title-bar-left {
        img {
            width: 20px;
        }
    }
    .title-bar-center {
       img {
            width: 40px;
       }
    }
    .title-bar-right {
        img {
            width: 20px;
        }
    }
}

.menu-icon::after {
    /* the block itself, the first line */
    /* middle and bottom */

    /* respect WebKit */

}

 @media screen and (max-width: 39.9375em) {
    .topbar-center-logo {
        .menu {
            padding: 0;
            li {
                margin-left:0;
                margin-bottom: 1em;
            }
        }
    }
    .title-bar {
        background-color:transparent;
    }

    .icon__item {
        display:none;
    }


}
