.hero {
	height: 100vh;
	width: 100%;
	background-image:url('../img/banner_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	//display:none;
	//align-items: center;
	justify-content:center;
	padding-bottom: 2em;
	flex-wrap: wrap;
	postiion: relative;

	&__title {
		color: #fff;
		width: 100%;
		text-align: center;
		padding-top: 25vh;
		h1, h2 {
			font-size:4.5em;
				@media screen and (max-width: 39.9375em) {
				font-size: 3em;
			}
		}

		h1 {
			// Cambio de fuente
		}
	}

	&--language {
		// display: flex;
		align-items: center;

		h1 {
			color:#fff;
			// font-weight: bold;
			font-size: 4em;
		}
		h2 {
			font-family: 'Raleway', 'Helvertica', sans-serif;
			color:#fff;
		}
		.container-button {
			width: 100%;
			display:flex;
			justify-content:space-between;
		}
	}
}

.call_to_action {
	text-align: center;
	width: 100%;
	bottom: 10px;
	position:absolute;

	p {
		margin-bottom: 0;
		color: #fff;
		font-size: 1.3em;
	}
	button {
		background-color: $primary;
		padding: 1em 3em;
		font-size: 1.5em;
		font-weight: bold;
		cursor:pointer;
		transition: .3s all;
		&:hover {
			background-color:$primary-light;
		}
		span{
			font-weight: 300;
			display:block;
		}
	}
}
