.container__login {
	height: 100vh;
	width: 100%;
	background-image:url('../img/log_background_03.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 3em;
	overflow-y: scroll;
	.form {
		margin: 0 auto;
		width: 40%;
		height: auto;
		background-color: #09072d;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		padding: 4em;


		&__title {
			font-size: 2em;
			color: $primary;
			font-weight: bold;
			margin-bottom: 0.5em;
		}

		label {
			color: #fff;
			font-size: 1.2em;
		}

		&__link {
			color:$primary;
			font-size: 1.2em;
		}
		&__action {
			display:flex;
			align-items:flex-start;
			margin-top:1em;

			.button {
				background-color: $primary;
				font-size: 1.3em;
				color:#000;
			}

			.message{
				color:#fff;
				margin-left: 1em;
			}

		}


		&__footer {
			text-align:center;
			color:#fff;
			width: 40%;
			margin: 0 auto;
			margin-top: 2em ;
			a {
				color: $primary;
			}
			
			&--down {
				//margin-top: 20%;

				a, span {
					
					margin: 1em;
				}
			}
		}
	}
}



