.section {
	//display: none;
	width: 100%;
	margin-top: 4em;
	&__header {
		padding: 1em;
		width: 50%;
		height:80px;
		margin-bottom:1em;

	 	@media screen and (max-width: 39.9375em) {
			width: 100%;
	 	}
		hr {
			margin-top:-7px;
			height: 2px;
			background-color: black;
		}
	}
	&__title {
		background-color: $primary;
		padding: 0.5em;
		width: 100px;
		height:50px;
		margin-left: 100px;
		display:flex;
		justify-content:center;
		align-items:center;
		h3 {
			color: $red;
			margin:0;
			margin-left:80px;
			font-size: 1.5em;
		}
	}
}
