
.share-container{
	background-color: rgba($primary, 0.9);
	width: 100%;
	padding: 3em 5em ;
	margin-top:1em;
	@media screen and (max-width: 39.9375em) {
		padding: 1em;
	}
	// h2 {
	// 	color:$red;
	// 	font-size: 1.7em;
	// 	font-weight: bold;
	// 	margin-bottom: 1em;
	// }

	input, textarea {
		background-color: transparent;
		border: 1px solid #212121;
		color: #212112;
		&:focus {
			background-color:transparent;
		}
		  &::-webkit-input-placeholder{
		    color: #212112;
		  }
	}

	.social {
		.button {
			margin-right:0.5em;
			width: 30%;
			&--facebook {
				background-color:#063e96;
			}
			&--messenger {
				background-color: #139deb;
			}

			&--twitter {
				background-color:#5dc4f4;
			}
		}
	}

	.call {
		display:flex;
		align-items:center;
		margin-top:0.5em;
		.button {
			background-color:$red;
			width: 100px;
			margin-right:0.5em;
		}
		p {
			color: $red;
		}
	}

	.card-options {
		span {
			a{
				color: #212121;
				text-decoration: underline;
			}
		}
	}

}
