@import '_variables';

.storie {
	position: relative;
	cursor: pointer;
	transition: 0.5s ease;
	&:hover {
		opacity: 0.8;
	}

	@media screen and (max-width: 39.9375em) {
		padding-bottom:20%;
 	}

	&__description {
		background-color:rgba(#0c102e, 0.9);
		color: #fff;
		text-align:center;
		position:absolute;
		bottom:-10%;
		width: 100%;
		padding: 1em;
		border: 1px solid #212121;
		@media screen and (max-width: 39.9375em) {
			bottom:0%;
	 	}

		h3 {
			font-family: $bebas;
			// font-size: 1.4em;;
			// font-weight: bold;
			margin-bottom:0;
		}
		p {
			font-weight: bold;
			font-size: 1.2	em;
		}
	}
}


.stories-section {
	display:none;
}