$primary: #cada1d;
$primary-light: lighten(#cada1d, 10%);
$red:#5d1e20;
$gray: #666;

$bebas : 'bebas_neueregular', Helvetica, sans-serif;

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebas/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
