@import 'variables';
@import 'base';
@import 'header';
@import 'hero';
@import 'section';
@import 'about';
@import 'stories';
@import 'share';
@import 'contact';
@import 'accordion';

@import 'footer';

// Pages Auth
@import '_login';

.video{
  video{
    width: 100vw;
  }
}

.icon-signin {
  a {
    img {
      height: 30px;
    }
  }
}


.hero--language {
  background: url('../img/splash_background_03.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebas/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../fonts/dancing/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/dancing/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$bebas : 'bebas_neueregular', Helvetica, sans-serif;
$dancing : 'dancing_script_otregular', Helvetica, sans-serif;


.vid {
  background-image:url('../img/log_background_03.jpg');
}

.title {
  font-family: $bebas;
  font-weight: normal;
  color:$red;
  margin-bottom:1em;
}

.headings {
  // overflow: hidden;
  height: 450px;

  .h1tag {
    display: none;
    // position: absolute;
    // overflow: hidden;
    // height: 500px;
    // width: 100px;
    // background: red;
    h3 {
      // top: 150px;
      position: relative;
      z-index: 100;
      margin-top: 80%;
      margin-left: -150px;
      text-align: center;
      font-family: $bebas;
      transform: rotate(-90deg);
      color: white;
      width: 400px;
    }
  }
}

.langscreen {
  height: 100vh;
	width: 100%;
	background-image:url('../img/banner_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	align-items: flex-end;
	justify-content:center;
	padding-bottom: 2em;
		h1 {
			color:#fff;
			font-weight: bold;
			font-size: 4em;
		}
		h2 {
			color:#fff;
		}
		.container-button {
			width: 100%;
			display:flex;
			justify-content:space-between;
		}
	}

.insidesec {
  display: none;
  padding: 20px;
  input {
    display: inline-block;
    margin: 8px;
    border: solid 1px #12133c;
    &::placeholder {
      color: #515151;
    }
  }
  .submit {
    padding: 15px;
    font-family: $bebas;
    background: #752509;
    color: white;
    border: none;
    float: right;
    transition: 0.5s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}

.insh {
  display: block;
}

.mythpop {
  display: none;
  position: absolute;
  // z-index: 6;
  color: #666;
  width: 70%;
  margin-right: 1em;
  margin-top: 2em;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  padding: 1em;
  border-radius: 0.8em;
}

.closeBio {
  float: right;
}

.button_left {
  cursor: pointer;
  transition: 0.5s ease;
  &:hover {
    opacity: 0.6;
  }
}

.buttonsslide {
  margin: 0 auto;
}

.en {
  width: 30%;
  float: left;
  margin: 1%;
  h1 {
    text-align: right;
  }
}

.fr {
  width: 30%;
  float: right;
  margin: 1%;
  h1 {
    text-align: left;
  }
}

.call_to_action {
  h2 {
    font-family: 'Raleway', 'Helvertica', sans-serif;
  }
}


.section__content--share {
	height: 100vh;
	width: 100%;
	background-image:url('../img/share_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	padding: 2em 113px;
	//margin-top:0;
	background-color:red;

	@media screen and (max-width: 39.9375em) {
		padding: 1em;
		height:auto;
	}
}

.top-bar, .top-bar ul {
    background-color: rgba(black, 0.6);

@media only screen and (min-width: 40.063em) and (max-width: 120em) {
 background-color: transparent;

}

}

.top-bar ul{
  text-align: center;
}

#signin{
  width: 20px;
}

#heroText1{
  font-family: $dancing;

}

#heroText2{
 font-family: $bebas;
}

.sectionTitle {
  font-size: 2em;
  font-family: $bebas;
}

.partner-block {
  height: 40px;
  // img {
  //   height: 40px;
  // }
}

// .contact-footer {
//   height: 200px;
// }

//cms stuff


.factImg{
  margin-right: 100px;
  margin-top: 15px;
}

.registerDivs{
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.about__item__description2{
  width: 94%;
}

.mythDiv{
  align-items: center;
  text-align: center;
}
